@layer components {
    .animated-outlet {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: clip;
    }

    .animated-outlet-panel {
        position: absolute;
        inset: 0;
        overflow-y: auto;
    }
}
