@layer components {
    .file-uploader {
        cursor: pointer;
    }

    .file-uploader-disabled {
        cursor: not-allowed;
        opacity: 0.5;
        pointer-events: none;
    }

    .file-uploader-input {
        display: none;
    }
}
