.select {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    transition-property: all;
    transition-duration: 200ms;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
}

.select:focus-within {
    box-shadow: none;
}

.select.disabled {
    opacity: 0.5;
    pointer-events: none;
    color: #6b7280;
    cursor: not-allowed;
}

.selected-chip {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid var(--color-line);
    font-size: 0.75rem;
    line-height: 1.5;
}

.selected-chip-label {
    padding: 0.25rem 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected-chip-close {
    cursor: pointer;
    color: var(--color-danger);
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1.5;
    padding-right: 0.25rem;
    margin-top: -1px;
}

.selected-chip-close:hover {
    color: var(--color-danger-hover);
    outline: none;
}

.select-chevron {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);

}

.select-input {
    width: 100%;
    padding: 0.25rem 0;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    background: transparent;
    color: var(--color-fg);
    font-size: 1rem;
}

.select-popover {
    background: var(--color-surface);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
}

.select-popover-item {
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-size: var(--text-option, 0.875rem);
    line-height: var(--text-option--line-height, 1.25rem);
    padding: var(--spacing-option-y) var(--spacing-option-x);
}

.select-popover-item:hover {
    background-color: var(--color-surface-hover);
}

.select-popover-item.selected {
    background-color: var(--color-surface-hover);
    font-weight: 600;
}