.side-menu {
    height: 100vh;
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    min-height: 0;
}

.side-menu.expanded {
    width: var(--spacing-side-menu);
}

.side-menu.collapsed {
    width: var(--spacing-side-menu-min);
}

.side-menu.mobile.collapsed {
    width: 0;
}

.side-menu-content-wrapper {
    overflow: hidden;
    flex-grow: 1;
    min-height: 0;
}

.side-menu.mobile.collapsed .side-menu-content-wrapper {
    width: 0;
}

.side-menu-content {
    pointer-events: auto;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.side-menu-content-inner {
    flex-shrink: 0;
    flex-grow: 1;
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    width: var(--spacing-side-menu);
    position: relative;
}



