.snackbar-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    z-index: 1100;
    padding: 1rem;
}

.snackbar-container-bottom-right {
    bottom: 0;
    right: 0;
    align-items: flex-end;
}

.snackbar-container-top-right {
    top: 0;
    right: 0;
    align-items: flex-end;
    flex-direction: column-reverse;
}

.snackbar-container-bottom-center {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}

.snackbar-container-top-center {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    flex-direction: column-reverse;
}

.snackbar-item {
    padding: .5rem;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    max-width: 20rem;
    width: 100%;
    opacity: 0;
    transform: translateY(20px);
    animation: slide-in 0.3s forwards ease-out;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.snackbar-item-info {
    background-color: var(--color-info);
    color: var(--color-info-contrast);
}

.snackbar-item-success {
    background-color: var(--color-success);
    color: var(--color-success-contrast);
}

.snackbar-item-error {
    background-color: var(--color-danger);
    color: var(--color-danger-contrast);
}

.snackbar-item-warning {
    background-color: var(--color-warning);
    color: var(--color-warning-contrast);
}

.snackbar-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.snackbar-item-close-button {
    background: none;
    border: none;
    color: currentColor;
    font-weight: 700;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 1;
    padding: 0;
    flex-shrink: 0;
}

.snackbar-item-close-button:hover {
    opacity: 0.8;
}