@layer components {
    .heading-1 {
        font-size: var(--text-h1);
        line-height: var(--text-h1--line-height);
        font-weight: var(--text-h1--font-weight);
        letter-spacing: var(--text-h1--letter-spacing);
    }

    .heading-2 {
        font-size: var(--text-h2);
        line-height: var(--text-h2--line-height);
        font-weight: var(--text-h2--font-weight);
        letter-spacing: var(--text-h2--letter-spacing);
    }

    .heading-3 {
        font-size: var(--text-h3);
        line-height: var(--text-h3--line-height);
        font-weight: var(--text-h3--font-weight);
        letter-spacing: var(--text-h3--letter-spacing);
    }

    .heading-4 {
        font-size: var(--text-h4);
        line-height: var(--text-h4--line-height);
        font-weight: var(--text-h4--font-weight);
    }

    .text-muted {
        color: var(--color-fg-muted);
    }

    .text-small {
        font-size: var(--text-small);
        line-height: var(--text-small--line-height);
    }
}
