@import '../global.css';
@import './styles/components.css';
@import './styles/utils.css';

:root {
    --color-danger: #ff0000;
    --color-danger-contrast: #ffffff;
    --spacing-main-sidebar: 10rem;
    --spacing-mini-sidebar: 2.5rem;
    --spacing-card: 1rem;

    --color-fg: #cccccc;
    --color-fg-contrast: #000000;
    --color-bg: #0a0a0a;
    --color-bg-contrast: #ffffff;

    --color-line: #2a2a2a;
    --color-link: #0070f3;

    --color-surface: rgba(255, 255, 255, 0.025);
    --color-surface-hover: rgba(255, 255, 255, 0.05);
    --color-surface-shallow: rgba(255, 255, 255, 0.01);
    --color-surface-elevated: rgba(255, 255, 255, 0.05);

    --spacing-line: 1px;

    --color-primary: #0070f3;
    --color-primary-hover: #005bb5;
    --color-primary-active: #004c9b;
    --color-primary-contrast: #ffffff;
    --color-primary-light: rgba(0, 112, 243, 0.1);

    --color-secondary: #8200ff;
    --color-secondary-hover: #6800cc;
    --color-secondary-active: #5300a8;
    --color-secondary-contrast: #ffffff;

    --spacing-control-y: 0.625rem;
    --spacing-control-x: 1rem;
    --spacing-control-compact-y: 0.25rem;
    --spacing-control-compact-x: 0.5rem;
    --spacing-control-relaxed-y: 1rem;
    --spacing-control-relaxed-x: 2rem;
    --radius-control: .5rem;
    --text-control: 1rem;
    --text-control--letter-spacing: 0em;
    --text-control--line-height: 1.5;
    --text-control--font-weight: 400;

    --space-scrollbar-track: .5rem;
    --color-scrollbar-track: rgba(125, 125, 125, 0.1);
    --color-scrollbar-thumb: rgba(125, 125, 125, 0.25);
    --color-bg-control: transparent;
    --color-label-control: #888888;

    --space-title-x: 1rem;
    --space-title-y: 1rem;
    --text-title: 1.5rem;
    --text-title--letter-spacing: -0.025em;
    --text-title--line-height: 1.25;
    --text-title--font-weight: 600;

    --spacing-title-y: 1rem;
    --spacing-title-x: 1rem;
    --spacing-title-h: calc(var(--spacing-title-y) * 2 + var(--text-title) * var(--text-title--line-height));

    --text-base: 1rem;
    --text-base--letter-spacing: 0em;
    --text-base--line-height: 1.5;
    --text-base--font-weight: 400;
}

html, body {
    background: var(--color-bg);
    color: var(--color-fg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
}

.page-content {
    padding: 1rem 2rem;
}
